In [4]:
import pandas as pd
series = pd.Series([143, 150, 157, 160], index = ['2018', '2019', '2020', '2021'])
series

2018    143
2019    150
2020    157
2021    160
dtype: int64

In [5]:
index = ['2018', '2019', '2020', '2021']
Y = pd.Series([143, 150, 157, 160], index = index)
C = pd.Series([165, 172, 175, 180], index = index)

growth = pd.DataFrame({
    '영희' : Y,
    '철수' : C
})

growth

       영희   철수
2018  143  165
2019  150  172
2020  157  175
2021  160  180

In [6]:
index = ['2018', '2019', '2020', '2021']
data = [pd.Series([143, 150, 157, 160], index = index),
 pd.Series([165, 172, 175, 180], index = index)]

growth = pd.DataFrame({
    data, colums = ()'영희','철수'), index =index
})

growth

SyntaxError: '(' was never closed (2750432883.py, line 5)

In [ ]:
growth.dtypes
growth.astype('float')